designs/pages/pages/books/search_book.json
[
    {
        "id": "sd_n1vLhq6PDrgItzP2",
        "type": "tab",
        "createdDate": "2025-09-06T08:25:31.067Z",
        "label": "search_book",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "search_bookComponent"
    },
    {
        "id": "sd_XUX3LnHzQOUbRGJ2",
        "type": "OnInit",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_XUX3LnHzQOUbRGJ2",
        "category": "Lifecycle Events",
        "x": 105,
        "y": 60,
        "wires": [
            [
                "sd_e69P7MchohGF0XIZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "search_bookComponent"
    },
    {
        "id": "sd_e69P7MchohGF0XIZ",
        "type": "PageVariables",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "loading",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_e69P7MchohGF0XIZ",
        "category": "Function",
        "x": 305,
        "y": 60,
        "wires": [
            [
                "sd_gswLmarvHAWLarsW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_jbw0BYEQOHa7Pl1N",
        "type": "PageStart",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fetch-isbn-book",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fetchIsbnBook",
        "category": "General",
        "x": 105,
        "y": 340,
        "wires": [
            [
                "sd_zzuWwWImxC4WIOvJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "search_bookComponent"
    },
    {
        "id": "sd_WwAzAMQcn4oGrky0",
        "type": "HttpRequest",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "fetch book details",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.local.searchBookURL",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "searchBookURL"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "bh.input.response",
        "resultMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "response"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "fetchBookDetails",
        "category": "HTTP",
        "x": 345,
        "y": 340,
        "wires": [
            [
                "sd_wLsvV4om1MkwJDV1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_wLsvV4om1MkwJDV1",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "fetch-isbn-book-script2",
        "script": "console.log('res===>>>',bh.input.response)\nconst bookData=bh.input.response.openApiLibraryData\n\nconsole.log('identifer',bookData?.identifiers)\nif(!(bookData?.identifiers)){\n    throw new Error('ISBN not exists in OpenAPI Library')\n}\nbh.local.bookData={\n    id: bookData.identifiers.isbn_10,\n    isbn: page.pageData.isbn,\n    title: bookData.title,\n    publishers: bookData.authors[0].name,\n    publishedYear:bookData.publish_date,\n}\n\npage.hideButton=Boolean(true)\npage.loading=false",
        "functionName": "fetchIsbnBookScript2",
        "category": "Function",
        "x": 465,
        "y": 340,
        "wires": [
            [
                "sd_EEsjOPzr4XnLP0in"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_EEsjOPzr4XnLP0in",
        "type": "PageVariables",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "fetch-isbn-book-pagevariables",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "bookData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "bookData"
                }
            }
        ],
        "functionName": "fetchIsbnBookPagevariables",
        "category": "Function",
        "x": 625,
        "y": 340,
        "wires": [
            [
                "sd_jdBgWol3WalKOY6V"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_gswLmarvHAWLarsW",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('page details')\nconsole.log(page)\n\npage.pageData = {\n};\n\n\npage.hideButton=Boolean(false)\n",
        "functionName": "sd_gswLmarvHAWLarsW",
        "category": "Function",
        "x": 505,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_zzuWwWImxC4WIOvJ",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "fetch-isbn-book-script",
        "script": "if (!(page.pageData.isbn) || (page.pageData.isbn).trim().length < 1) {\n    throw new Error('ISBN is empty')\n}\n\n\nbh.local.searchBookURL = `http://localhost:8081/api/books/${page.pageData.isbn}`\n\npage.loading = true",
        "functionName": "fetchIsbnBookScript",
        "category": "Function",
        "x": 225,
        "y": 340,
        "wires": [
            [
                "sd_WwAzAMQcn4oGrky0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_JHYTSHcYqYuYc4pV",
        "type": "PageStart",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "pages",
        "nodeType": "start",
        "name": "create-book-using-isbn",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "createBookUsingIsbn",
        "category": "General",
        "x": 105,
        "y": 500,
        "wires": [
            [
                "sd_Jx53XvDfcHJVfwjd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "search_bookComponent"
    },
    {
        "id": "sd_UtLo5RWtmMgQRxNq",
        "type": "HttpRequest",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "create book http req",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.local.createBookURL",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "createBookURL"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.local.body",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.local.response",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "response"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "createBookHttpReq",
        "category": "HTTP",
        "x": 365,
        "y": 500,
        "wires": [
            [
                "sd_0MbCC6wbpgUrWZaV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_Jx53XvDfcHJVfwjd",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "create-book-script",
        "script": "bh.local.createBookURL=`http://localhost:8081/api/books/`\n\nbh.local.body={\n    isbn:page.pageData.isbn\n}\n\npage.loading=true",
        "functionName": "createBookScript",
        "category": "Function",
        "x": 245,
        "y": 500,
        "wires": [
            [
                "sd_UtLo5RWtmMgQRxNq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_jd0eBj9eXwgjnq8x",
        "type": "SnackBar",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Successfully Added new book"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_jd0eBj9eXwgjnq8x",
        "category": "General",
        "x": 705,
        "y": 500,
        "wires": [
            [
                "sd_i50xOCCtzAxcTlKi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_revoDI9poqi7RrtS",
        "type": "PageStart",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "pages",
        "nodeType": "start",
        "name": "ClearBookDataViewCard",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "clearBookDataViewCard",
        "category": "General",
        "x": 107.00000381469727,
        "y": 186.0000057220459,
        "wires": [
            [
                "sd_2mnUOLQLNgjhud0l"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "search_bookComponent"
    },
    {
        "id": "sd_2mnUOLQLNgjhud0l",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.hideButton=Boolean(false)\n\n",
        "functionName": "sd_2mnUOLQLNgjhud0l",
        "category": "Function",
        "x": 259.00000381469727,
        "y": 186.00000381469727,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_jdBgWol3WalKOY6V",
        "type": "PageSwitch",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response.status",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.response.status",
        "rules": [
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "399",
                "v2t": "num",
                "gv2": "399",
                "gv": "200"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_jdBgWol3WalKOY6V",
        "category": "Function",
        "x": 745,
        "y": 340,
        "wires": [
            [
                "sd_J83Ff4vsWS2kdPbM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_J83Ff4vsWS2kdPbM",
        "type": "SnackBar",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Successfully Fetched Book Details"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_J83Ff4vsWS2kdPbM",
        "category": "General",
        "x": 864.0000114440918,
        "y": 339.99999237060547,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_ueP4Wmb3p0VW4BhH",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.hideButton=Boolean(false)\npage.loading=false",
        "functionName": "sd_ueP4Wmb3p0VW4BhH",
        "category": "Function",
        "x": 1265,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_tuPHUf4aHUpEQlkv",
        "type": "Catch",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "start",
        "name": "search book catch node",
        "selectedNodes": [
            "sd_jbw0BYEQOHa7Pl1N",
            "sd_WwAzAMQcn4oGrky0",
            "sd_wLsvV4om1MkwJDV1",
            "sd_EEsjOPzr4XnLP0in",
            "sd_zzuWwWImxC4WIOvJ"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "searchBookCatchNode",
        "category": "General",
        "x": 985,
        "y": 360,
        "wires": [
            [
                "sd_kUxDcF3rxleuaLA3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "search_bookComponent"
    },
    {
        "id": "sd_KFX0WszOfRZUvEIr",
        "type": "SnackBar",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "errorMessage"
        },
        "action": {
            "type": "str",
            "value": "Close"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_KFX0WszOfRZUvEIr",
        "category": "General",
        "x": 1145,
        "y": 360,
        "wires": [
            [
                "sd_ueP4Wmb3p0VW4BhH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_CT7d7NXpB1cFTGZt",
        "type": "PageSwitch",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response.status",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.response.status",
        "rules": [
            {
                "t": "btwn",
                "v": "199",
                "vt": "num",
                "v2": "399",
                "v2t": "num",
                "gv2": "399",
                "gv": "199"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_CT7d7NXpB1cFTGZt",
        "category": "Function",
        "x": 605,
        "y": 500,
        "wires": [
            [
                "sd_jd0eBj9eXwgjnq8x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_i50xOCCtzAxcTlKi",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.hideButton=Boolean(false)\n",
        "functionName": "sd_i50xOCCtzAxcTlKi",
        "category": "Function",
        "x": 805,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_0MbCC6wbpgUrWZaV",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading=false",
        "functionName": "sd_0MbCC6wbpgUrWZaV",
        "category": "Function",
        "x": 479.0000057220459,
        "y": 500.82499504089355,
        "wires": [
            [
                "sd_CT7d7NXpB1cFTGZt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_K4CojB0ZotShymJ8",
        "type": "Catch",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "start",
        "name": "creating book  catch node ",
        "selectedNodes": [
            "sd_UtLo5RWtmMgQRxNq"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "creatingBookCatchNode",
        "category": "General",
        "x": 985,
        "y": 480,
        "wires": [
            [
                "sd_KlUHqsoIrgkfiGZT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "search_bookComponent"
    },
    {
        "id": "sd_WQDbtuUYYfUnackd",
        "type": "SnackBar",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "errorMessage"
        },
        "action": {
            "type": "str",
            "value": "Close"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_WQDbtuUYYfUnackd",
        "category": "General",
        "x": 1145,
        "y": 480,
        "wires": [
            [
                "sd_ueP4Wmb3p0VW4BhH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_kUxDcF3rxleuaLA3",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.errorMessage=bh.error.message || \"Failed to fetch book details\"",
        "functionName": "sd_kUxDcF3rxleuaLA3",
        "category": "Function",
        "x": 1065,
        "y": 360,
        "wires": [
            [
                "sd_KFX0WszOfRZUvEIr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    },
    {
        "id": "sd_KlUHqsoIrgkfiGZT",
        "type": "Script",
        "z": "sd_n1vLhq6PDrgItzP2",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.errorMessage=\"Failed to add book \"",
        "functionName": "sd_KlUHqsoIrgkfiGZT",
        "category": "Function",
        "x": 1065,
        "y": 480,
        "wires": [
            [
                "sd_WQDbtuUYYfUnackd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "search_bookComponent",
        "generated": true
    }
]
