designs/pages/pages/books/update_book.json
[
    {
        "id": "sd_ByVlmlsSfqtmQpd4",
        "type": "tab",
        "createdDate": "2025-09-08T18:27:43.173Z",
        "label": "update_book",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "update_bookComponent"
    },
    {
        "id": "sd_kEDq533u2EZOhaOp",
        "type": "OnInit",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_kEDq533u2EZOhaOp",
        "category": "Lifecycle Events",
        "x": 105,
        "y": 60,
        "wires": [
            [
                "sd_70KA9XzsFDfH293B"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "update_bookComponent"
    },
    {
        "id": "sd_70KA9XzsFDfH293B",
        "type": "PageVariables",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_70KA9XzsFDfH293B",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_kxNU8dBgoDD8vYjU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_bookComponent",
        "generated": true
    },
    {
        "id": "sd_LrrVAyvkEfZ3wyGR",
        "type": "Script",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('page queury ====',bh.local.rowData)\npage.updatedData={\n    isbn:bh.local.rowData.isbn,\n    title:bh.local.rowData.title,\n    publishers:bh.local.rowData.publishers,\n    publishedYear:bh.local.rowData.publishedYear\n}\nconsole.log('updated data ====',page.updatedData)",
        "functionName": "sd_LrrVAyvkEfZ3wyGR",
        "category": "Function",
        "x": 465,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_bookComponent",
        "generated": true
    },
    {
        "id": "sd_kxNU8dBgoDD8vYjU",
        "type": "NavigationData",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "tmpOp": "",
        "tmpOpType": "",
        "operationType": "queryParams",
        "operation": "keys",
        "key": "bh",
        "resultMapping": "bh.local.rowData",
        "functionName": "sd_kxNU8dBgoDD8vYjU",
        "category": "Navigation",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_LrrVAyvkEfZ3wyGR"
            ]
        ],
        "__ssdTypeInputs__": {
            "key": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "rowData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_bookComponent",
        "generated": true
    },
    {
        "id": "sd_Ape9wkIBa8oKnInu",
        "type": "Script",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('updated data ',page.updatedData)\n\nbh.local.updateBookURL=`http://localhost:8081/api/books/${page.updatedData.isbn}`\n\n\n",
        "functionName": "sd_Ape9wkIBa8oKnInu",
        "category": "Function",
        "x": 225,
        "y": 260,
        "wires": [
            [
                "sd_darB2qMAIuR7aI6i"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_bookComponent",
        "generated": true
    },
    {
        "id": "sd_darB2qMAIuR7aI6i",
        "type": "HttpRequest",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.local.updateBookURL",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "updateBookURL"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.updatedData",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updatedData"
        },
        "resultMapping": "bh.local.response",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "response"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_darB2qMAIuR7aI6i",
        "category": "HTTP",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "sd_FCgKJRsZ12rpENCh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_bookComponent",
        "generated": true
    },
    {
        "id": "sd_KvS1FZpuAuiXWP1Z",
        "type": "SnackBar",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Failed to update book details"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_KvS1FZpuAuiXWP1Z",
        "category": "General",
        "x": 665,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_bookComponent",
        "generated": true
    },
    {
        "id": "sd_FCgKJRsZ12rpENCh",
        "type": "PageSwitch",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response.status",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.response.status",
        "rules": [
            {
                "t": "gte",
                "v": "400",
                "vt": "num",
                "gv": "400"
            },
            {
                "t": "gte",
                "v": "200",
                "vt": "num",
                "gv": "200"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_FCgKJRsZ12rpENCh",
        "category": "Function",
        "x": 445,
        "y": 260,
        "wires": [
            [
                "sd_KvS1FZpuAuiXWP1Z"
            ],
            [
                "sd_7zHgKWKSbwbJqS1I"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_bookComponent",
        "generated": true
    },
    {
        "id": "sd_7zHgKWKSbwbJqS1I",
        "type": "SnackBar",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Successfully Updated Book Details"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_7zHgKWKSbwbJqS1I",
        "category": "General",
        "x": 665,
        "y": 300,
        "wires": [
            [
                "sd_CwLcDr51dJbMYKnH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_bookComponent",
        "generated": true
    },
    {
        "id": "sd_saYCaKQ3K4gMLeNM",
        "type": "PageStart",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "pages",
        "nodeType": "start",
        "name": "update Book",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "updateBook",
        "category": "General",
        "x": 105,
        "y": 260,
        "wires": [
            [
                "sd_Ape9wkIBa8oKnInu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "update_bookComponent"
    },
    {
        "id": "sd_CwLcDr51dJbMYKnH",
        "type": "Navigation",
        "z": "sd_ByVlmlsSfqtmQpd4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_CwLcDr51dJbMYKnH",
        "category": "Navigation",
        "x": 800,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_bookComponent",
        "generated": true
    }
]
